.form-reg-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.form-reg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-reg-container input[name="email"], input[name="username"], input[name="password"] {
    padding: 10px;
    width: 300px;
}

.form-reg-container input[name="password"] {
    margin-bottom: 20px;
}

.reg-btn-wrapper {
    display: flex;
    justify-content: flex-start;
}

input[name="register"] {
    padding: 10px 20px;
}

#cosgang-avt {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}